body{
    margin: 0 auto;
    font-size: 10px;
    padding-bottom: 200px;
}
h2, h3{
    font-family: 'Oswald', sans-serif;
}
p{
    letter-spacing: 1px;
}
/******* HEADER ***********/
#logo{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    line-height: 1.6em;
    color: rgb(14, 76, 20);
}

#header{
    display: flex;
    background-color: white;
    margin: 0 auto;
    padding: 0.1em 3em 0.1em 3em;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    color: rgb(14, 76, 20);
}

#header img{
    height: 80px;
    width: 80px;
}
/******* END HEADER ***********/
/******* NAV BAR ***********/
#nav-bar{
    background-color: rgb(54, 111, 0);
    padding: 0;
    position: sticky;
    top: 0;
}
#nav-bar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    list-style: none;
    margin: 0 auto;
    width: 60%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0;
}
#nav-bar ul li a{
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    font-family: 'Oswald', sans-serif;
}
/******* END NAV BAR  ***********/
/******* SLIDER  ***********/
#slider img{
    width: 100%;
    height: 650px;
    object-fit: cover;
}
/******* END SLIDER  ***********/
/******** CONTENTS OF THE BODY ************/
#contents{
    width: 70%;
    /* border: 1px solid rgb(187, 187, 187); */
    margin: 0 auto;
    margin-top: 30px;
}

 /******** SCHOOL INTRO (WELCOME) **********/
#welcome{
    display: flex;
    font-size: 1rem;
    margin-bottom: 10em;
    margin-top: 10em;
}
#welcome img{
    width: 35%;
    height: 450px;
    margin-right: 2em;
}
#welcome .info{
    width: 65%;
}
.info h3{
    margin-bottom: 0;
}
.info h2{
    margin-top: 0;
}
.info p{
    font-family: 'Noto Sans', sans-serif;
    text-align: justify;
}
.shadow-img{
    box-shadow: 0px 0px 15px 5px rgba(28, 84, 122, 0.2);
    object-fit: cover;
    border-radius: 8%;
}
 /******** END SCHOOL INTRO (WELCOME) **********/

 /******** NOTICE **********/
 #notice{
    text-align: center;
    background-color: rgb(228, 235, 228);
    width: 100%;
    height: 400px;
    border-radius: 50px;
    padding: 1em 0em 1em 0em;
    margin-bottom: 10em;
 }
 #gallery h2, #notice h2{
    font-size: 1.3rem;
 }
/******** END NOTICE **********/
/******** GALLERY **********/
#gallery{
    text-align: center;
    margin-bottom: 10em;
}
.gallery-img{
    display: flex;
    justify-content: space-between;
}
.gallery-img img{
    width: 20%;
    height: 15rem;
}
/******** END GALLERY **********/